body {
  float: none;
margin: 0 auto;
font-family: 'Fjalla One', sans-serif;
}


#searchButton {
  margin-top: 1.2rem;
}

#wikiDiv {
  text-align : center;
}

.hanalei {
  font-family: 'Hanalei Fill', cursive;
}

.lucky {
  margin-top: 10px;
  margin-bottom : 1.6rem;
}

.wikiHeader {
  margin: 3.2rem;
}


.footer {
  text-align : center;
   font-family: 'Hanalei Fill', cursive;

}